.landingPage {
  width: 50%;
  border-radius: 29px;
  box-shadow: 35px 35px 70px #2f2f2f, -35px -35px 70px #2f2f2f;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}
